@import url(https://fonts.googleapis.com/css2?family=Courier+Prime&family=Press+Start+2P&family=Share+Tech+Mono&family=Syne+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Press+Start+2P&family=Share+Tech+Mono&family=Syne+Mono&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

a:hover,
a:focus {
    color: var(--cor-1);
}

:root {
    --cor-de-fundo-1: #051f39;
    --cor-de-fundo-2: #4a2480;
    --cor-de-fundo-3: #6f1d5c;
    --cor-1: #c53a9d; 
    --cor-2: #ff8e80;
    --cor-3: #2a173b;
    --cor-4: beige; 
    --fonte-1: "Press Start 2P", system-ui;
    --fonte-2:  "IBM Plex Mono", monospace;;
}

body {
    background-image: linear-gradient(to right, var(--cor-de-fundo-2), var(--cor-1));
    font-family: var(--fonte-1);
}

img {
    max-width: 10rem;
    max-height: 15rem;
}

strong {
    color: var(--cor-1);
}

/* cabeçalho */

.cabecalho {
    background-color: var(--cor-3);
    color: var(--cor-2);
    padding: 3%;
}

/* conteúdo principal formulário */
.conteudo__principal-form {
    color: var(--cor-4);
}

.formulario__botoes-campo {
    background-color: var(--cor-de-fundo-3);
    width: 15rem;
    text-align: center;
    padding: 2rem;
    border-radius: 1.5rem;
}

.formulario__botoes-campo:hover,
.formulario__botoes-campo:focus {
    background-image: linear-gradient(to right, var(--cor-1), var(--cor-2));
    color: var(--cor-de-fundo-3);
}

input {
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-align: flex-start;
    color: var(--cor-3);
    font-family: var(--fonte-2);
}

/* conteúdo principal produtos */
.conteudo__principal {
    color: var(--cor-4);
    padding: 10%;
}

li {
    background-color: var(--cor-3);
    border-radius: 3rem;
    padding: 1.5rem;
}

li:hover {
    background-color: var(--cor-de-fundo-3);
    color: var(--cor-3);
}

.conteiner__produtos-item {
    font-family: var(--fonte-2);
}

.conteiner__produtos-botao-lixeira img {
    max-width: 1.8rem;
}

/* footer */

.creditos__conteiner {
    background-color: var(--cor-3);
    color: var(--cor-2);
    padding: 2%;
}

.creditos__conteiner p {
    font-family: var(--fonte-2);
}